@font-face { 
    font-family: 'Shrikhand';
    src: url("Font/Shrikhand-Regular.ttf");
}
@font-face { 
font-family: 'Roboto';
src: url("Font/Roboto-Regular.ttf");
}
h1{
    font-family: "Shrikhand", serif;
    text-decoration:none;
    color:#000000
  }
h2{
    font-family: "Roboto", serif;
    text-decoration:none;
    color:#000000
}

@import "../sass/partials/_header.scss";

@import "../sass/partials/_buttons.scss";
@import "../sass/partials/_sections.scss";
@import "../sass/partials/_footer.scss";
