@font-face {
  font-family: "Shrikhand";
  src: url("Font/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("Font/Roboto-Regular.ttf");
}
h1 {
  font-family: "Shrikhand", serif;
  text-decoration: none;
  color: #000000;
}

h2 {
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #000000;
}

body {
  margin: 0;
}

@media (max-width: 2000px) {
  .contenairhead {
    text-align: center;
    background: white;
  }
  .contenairhead .fa-arrow-left {
    color: Black;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  .localisation {
    background: #EAEAEA;
    text-align: center;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }

  .fa-arrow-left {
    color: black;
  }

  .loadcontent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    animation: loadinger 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
  }
  .loadcontent .loading {
    border: 5px solid #9356DC;
    border-top: 5px solid #99E2D0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: loading 1s ease-in-out;
    animation-iteration-count: 3;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loadinger {
    100% {
      opacity: 0;
      z-index: -1;
    }
  }

  .btn {
    background: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 18px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    position: relative;
    top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out 0s;
  }

  .rounded {
    border-radius: 50px;
  }

  .purple {
    background: linear-gradient(0deg, #a86adb, #F081DD);
    color: #fff;
  }

  .purple:hover {
    transition-duration: 0.2s;
    background: linear-gradient(0deg, #fa7bd6d7, #fca1e4e6);
  }

  .btngrand {
    width: 85%;
  }

  .Reservationmenu {
    text-align: center;
    background-color: #F6F6F6;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .Reservationmenu h1 {
    font-family: Roboto;
    font-weight: bold;
  }
  .Reservationmenu p {
    color: #757575;
  }

  .contfonct {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .containerfonction1 {
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
    width: 322px;
    height: 72px;
    background: #f6f6f6;
    border-radius: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: inherit;
  }

  .containerfonction2 {
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
    width: 322px;
    height: 72px;
    background: #f6f6f6;
    border-radius: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: inherit;
  }

  .containerfonction3 {
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
    width: 322px;
    height: 72px;
    background: #F5EDFF;
    border-radius: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: inherit;
  }

  .fa-store {
    color: #9254DC;
  }

  .Fonctionnementcontainer h2 {
    margin-left: 15%;
  }

  .Fonctionnementcontainer_numero {
    background-color: #9356DC;
    color: #FBF9FE;
    border-radius: 60%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: -20px;
    text-align: center;
  }

  .iconfonctionnement {
    margin-left: 25px;
  }

  .restaurandescription {
    margin-left: 25px;
  }

  .rest {
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding-top: 5px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .rest h3 {
    font-family: Roboto;
    font-weight: bold;
    padding-left: 5px;
  }

  .rest p {
    font-family: Roboto;
    padding-left: 5px;
  }

  .restaurant {
    text-decoration: none;
  }

  .restaurantTitre {
    padding-left: 40px;
  }

  .restaurant_blockrestaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .restaurant_blockrestau {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
  }

  .restaurant_blockrestau img {
    background-color: white;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .restaurantimage1 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage2 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage3 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage4 {
    width: 100%;
    height: 200px;
  }

  .blue {
    color: #0065fc;
  }

  .grey {
    color: #D9D9D9;
  }

  .Cartefrancaiseettitre {
    position: sticky;
    width: 100%;
    background: white;
    box-sizing: border-box;
    margin-top: -26%;
    box-shadow: 0 5px 16px #0000002e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #Cartefrancaiseblock {
    margin: 1px 25px 1px 15px;
  }

  .Cartefrancaise {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .entree {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }

  .plat {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }

  .dessert {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }

  .restaurantimage {
    max-height: 50rem;
    width: 100%;
    object-fit: cover;
  }

  .bigentree {
    margin-left: auto;
    margin-right: auto;
  }

  .bigentree h4 {
    font-weight: 900;
    font-size: 16px;
  }

  .bigplats {
    margin-left: auto;
    margin-right: auto;
  }

  .bigdesserts {
    margin-left: auto;
    margin-right: auto;
  }

  .titresdesection {
    font-family: Shrikhand, "cursive";
    padding-left: 25px;
  }

  .boutonclass {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerblockfrancais {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .entree > div > h3 {
    margin: 0 !important;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
  }

  .entree > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #BBBBBB;
  }

  .plat > div > h3 {
    margin: 0 !important;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
  }

  .plat > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #BBBBBB;
  }

  .dessert > div > h3 {
    margin: 0 !important;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
  }

  .dessert > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #BBBBBB;
  }

  .entreeprix h4 {
    text-decoration: black;
  }

  a:link {
    text-decoration: none;
  }

  .inputs {
    font-family: "Raleway", "Sans serif";
    display: flex;
    padding: 0 1.5em;
    height: 10%;
    font-size: 15px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    background: transparent;
    flex-direction: row;
  }

  .fa-map-marker-alt {
    display: flex;
    text-align: center;
  }

  .heartopacity {
    opacity: 0;
  }

  .fa-arrow-left {
    opacity: 1;
  }

  .Footer {
    background-color: #353535;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .footer2 {
    max-width: 2000px;
    margin-left: 7%;
  }

  a {
    color: #000000;
  }

  .interieurFooter {
    display: flex;
    flex-direction: column;
  }

  .interieurFooter a {
    font-family: Shrikhand;
    color: white;
    font-size: 18px;
    text-decoration: none;
  }

  .interieurFooter2 {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
  }

  .interieurFooter2 a {
    font-family: Roboto;
    color: white;
    text-decoration: none;
  }

  .interieurFooter3 {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
  }

  .interieurFooter3 a {
    font-family: Roboto;
    color: white;
    text-decoration: none;
  }

  .interieurFooter4 a {
    font-family: Roboto;
    color: white;
    text-decoration: none;
  }

  .interieurFooter5 a {
    font-family: Roboto;
    color: white;
    text-decoration: none;
  }

  .fa-hands-helping {
    position: absolute;
    margin-left: -23px;
    font-size: 12px;
    margin-top: 3px;
    color: white;
  }

  .fa-utensils {
    position: absolute;
    margin-left: -20px;
    color: white;
    font-size: 12px;
    margin-top: 3px;
  }
}
@media (max-width: 2000px) and (min-width: 500px) and (max-width: 892px) {
  .restaurant_blockrestaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .restaurantimage1 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage2 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage3 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage4 {
    width: 100%;
    height: 200px;
  }

  .restaurant_blockrestau {
    display: flex;
    width: 38%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
  }
}
@media (max-width: 2000px) and (min-width: 0px) and (max-width: 499px) {
  .restaurant_blockrestaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .restaurantimage1 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage2 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage3 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage4 {
    width: 100%;
    height: 200px;
  }

  .restaurant_blockrestau {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
  }
}

/*# sourceMappingURL=accueil.css.map */
