@font-face {
  font-family: "Shrikhand";
  src: url("Font/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("Font/Roboto-Regular.ttf");
}
h1 {
  font-family: "Shrikhand", serif;
  text-decoration: none;
  color: #000000;
}

h2 {
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #000000;
}

/* {
    color: #0f0 !important;
    outline: solid #f00 1px !important;
    }*/
.contenairhead {
  text-align: center;
  background: white;
}
.contenairhead .fa-arrow-left {
  color: Black;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.localisation {
  background: #EAEAEA;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.fa-arrow-left {
  color: black;
}

.coeurconteneur {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 80%;
  height: 100%;
  margin: auto;
  z-index: 3;
}

.fas {
  opacity: 0;
  transition-duration: 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-heart {
  font-size: 30px;
}

.coeurconteneur > i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.inputheart {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.inputheart:checked ~ .far {
  transition-duration: 1s;
  opacity: 0;
}

.inputheart:checked ~ .fas {
  transition-duration: 1s;
  opacity: 1;
}

.inputheart:hover ~ .far {
  transition-duration: 1s;
  opacity: 0;
}

.inputheart:hover ~ .fas {
  transition-duration: 1s;
  opacity: 1;
}

.conteneurcoeur2 {
  margin-top: -21%;
  margin-left: 16%;
}

.icon {
  opacity: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

.btn {
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 18px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  position: relative;
  top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out 0s;
}

.rounded {
  border-radius: 50px;
}

.purple {
  background: linear-gradient(0deg, #a86adb, #F081DD);
  color: #fff;
}

.purple:hover {
  transition-duration: 0.2s;
  background: linear-gradient(0deg, #fa7bd6d7, #fca1e4e6);
}

.btngrand {
  width: 85%;
}

.Reservationmenu {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 5px;
  padding-bottom: 25px;
}
.Reservationmenu h1 {
  font-family: Roboto;
  font-weight: bold;
}
.Reservationmenu p {
  color: #757575;
}

.contfonct {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerfonction1 {
  padding: 7px;
  box-sizing: border-box;
  margin: 1px 25px 23px 15px;
  margin-left: 15px;
  box-shadow: 0 5px 16px #0000002e;
  width: 322px;
  height: 72px;
  background: #f6f6f6;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: inherit;
}

.containerfonction2 {
  padding: 7px;
  box-sizing: border-box;
  margin: 1px 25px 23px 15px;
  margin-left: 15px;
  box-shadow: 0 5px 16px #0000002e;
  width: 322px;
  height: 72px;
  background: #f6f6f6;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: inherit;
}

.containerfonction3 {
  padding: 7px;
  box-sizing: border-box;
  margin: 1px 25px 23px 15px;
  margin-left: 15px;
  box-shadow: 0 5px 16px #0000002e;
  width: 322px;
  height: 72px;
  background: #F5EDFF;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: inherit;
}

.fa-store {
  color: #9254DC;
}

.Fonctionnementcontainer h2 {
  margin-left: 15%;
}

.Fonctionnementcontainer_numero {
  background-color: #9356DC;
  color: #FBF9FE;
  border-radius: 60%;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: -20px;
  text-align: center;
}

.iconfonctionnement {
  margin-left: 25px;
}

.restaurandescription {
  margin-left: 25px;
}

.rest {
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  padding-top: 5px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.rest h3 {
  font-family: Roboto;
  font-weight: bold;
  padding-left: 5px;
}

.rest p {
  font-family: Roboto;
  padding-left: 5px;
}

.restaurant {
  text-decoration: none;
  position: relative;
}

.restaurantTitre {
  padding-left: 40px;
}

.restaurant_blockrestaurants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.restaurant_blockrestau {
  display: flex;
  width: 20%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  padding: 7px;
  box-sizing: border-box;
  margin: 1px 25px 23px 15px;
  margin-left: 15px;
  box-shadow: 0 5px 16px #0000002e;
}

.restaurant_blockrestau img {
  background-color: white;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurantimage1 {
  width: 100%;
  height: 200px;
}

.restaurantimage2 {
  width: 100%;
  height: 200px;
}

.restaurantimage3 {
  width: 100%;
  height: 200px;
}

.restaurantimage4 {
  width: 100%;
  height: 200px;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #D9D9D9;
}

.Cartefrancaiseettitre {
  position: sticky;
  width: 100%;
  background: white;
  box-sizing: border-box;
  margin-top: -26%;
  box-shadow: 0 5px 16px #0000002e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.Cartefrancaise {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  max-width: 100%;
  margin-left: 10px;
}

.entree {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  margin: 1rem;
  max-width: 280px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.plat {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  margin: 1rem;
  max-width: 280px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.dessert {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  margin: 1rem;
  max-width: 280px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.restaurantimage {
  max-height: 50rem;
  width: 100%;
  object-fit: cover;
}

@keyframes animationscale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.bigentree {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
}

.bigentree h4 {
  font-weight: 900;
  font-size: 16px;
  font-family: Roboto, Serif;
}

.bigdesserts h4 {
  font-weight: 900;
  font-size: 16px;
  font-family: Roboto, Serif;
}

.bigplats h4 {
  font-weight: 900;
  font-size: 16px;
  font-family: Roboto, Serif;
}

.plats {
  border-bottom: 3px solid #99E2D0;
  border-left-width: 15px;
  max-width: 40px;
}

.entrees {
  border-bottom: 3px solid #99E2D0;
  border-left-width: 15px;
  max-width: 40px;
}

.Desserts {
  border-bottom: 3px solid #99E2D0;
  border-left-width: 15px;
  max-width: 40px;
}

.bigplats {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  max-width: 100%;
}

.bigdesserts {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  max-width: 100%;
}

.animation1 {
  animation: animationscale 1.3s cubic-bezier(0.5, 0.5, 0.4, 1.2) 0ms 1;
}

.animation2 {
  animation: animationscale 1.4s cubic-bezier(0.5, 0.5, 0.4, 1.2) 0.2s 1;
}

.animation3 {
  animation: animationscale 1.5s cubic-bezier(0.5, 0.5, 0.4, 1.2) 0.4s 1;
}

.titresdesection {
  font-family: Shrikhand, "cursive";
  padding-left: 25px;
  width: 1000px;
}

.boutonclass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerblockfrancais {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.entree > div > h3 {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.entree > div > p {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
  color: #2F2C2C;
  width: 240px;
  font-size: 13px;
}

.plat > div > h3 {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.plat > div > p {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
  color: #2F2C2C;
  width: 540px;
  font-size: 13px;
}

.dessert > div > h3 {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.dessert > div > p {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
  color: #2F2C2C;
  width: 240px;
  font-size: 13px;
}

.entreeprix h4 {
  text-decoration: black;
}

a:link {
  text-decoration: none;
}

.inputs {
  font-family: "Raleway", "Sans serif";
  display: flex;
  padding: 0 1.5em;
  height: 10%;
  font-size: 15px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  background: transparent;
  flex-direction: row;
  max-width: 120px;
}

.fa-map-marker-alt {
  display: flex;
  text-align: center;
  justify-content: center;
}

.heartopacity {
  opacity: 0;
}

.fa-arrow-left {
  opacity: 1;
  -webkit-text-fill-color: black;
}

.fa-hands-helping {
  opacity: 1;
  -webkit-text-fill-color: white;
}

.fa-utensils {
  opacity: 1;
  -webkit-text-fill-color: white;
}

.choisir {
  background-color: #99e2d0;
  margin: -1rem -1rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  opacity: 0;
}

.dessert:hover .choisir {
  margin-right: -1rem;
  opacity: 1;
  width: 6rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dessert:hover .choisir .div {
  transform: rotate(0);
}

.dessert:hover {
  transition-duration: 1s;
}

.plat:hover .choisir {
  margin-right: -1rem;
  opacity: 1;
  width: 14rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.plat:hover .choisir .div {
  transform: rotate(0);
}

.plat:hover {
  transition-duration: 1s;
}

.entree:hover .choisir {
  margin-right: -1rem;
  opacity: 1;
  width: 6rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.entree:hover .choisir .div {
  transform: rotate(0);
}

.entree:hover {
  transition-duration: 1s;
}

.choisir div .fa-check {
  color: #99e2d0;
  opacity: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #99e2d0;
}

.choisir div {
  height: 1.4rem;
  width: 1.4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.entree:hover .choisir i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.plat:hover .choisir i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.dessert:hover .choisir i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nouveaux {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  top: 1rem;
  right: 0.75rem;
  position: absolute;
}

.Footer {
  background-color: #353535;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer2 {
  max-width: 2000px;
  margin-left: 7%;
}

a {
  color: #000000;
}

.interieurFooter {
  display: flex;
  flex-direction: column;
}

.interieurFooter a {
  font-family: Shrikhand;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.interieurFooter2 {
  margin-left: 23px;
  display: flex;
  flex-direction: column;
}

.interieurFooter2 a {
  font-family: Roboto;
  color: white;
  text-decoration: none;
}

.interieurFooter3 {
  margin-left: 23px;
  display: flex;
  flex-direction: column;
}

.interieurFooter3 a {
  font-family: Roboto;
  color: white;
  text-decoration: none;
}

.interieurFooter4 a {
  font-family: Roboto;
  color: white;
  text-decoration: none;
}

.interieurFooter5 a {
  font-family: Roboto;
  color: white;
  text-decoration: none;
}

.fa-hands-helping {
  position: absolute;
  margin-left: -23px;
  font-size: 12px;
  margin-top: 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  opacity: 1;
}

.fa-utensils {
  position: absolute;
  margin-left: -20px;
  color: white;
  font-size: 12px;
  margin-top: 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  opacity: 1;
}

@media (min-width: 468px) and (max-width: 1163px) {
  .restaurant_blockrestaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .restaurantimage1 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage2 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage3 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage4 {
    width: 100%;
    height: 200px;
  }

  .restaurant_blockrestau {
    display: flex;
    width: 38%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
  }

  .bigentree {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 95.5%;
    padding: 0 1rem;
    overflow: hidden;
    max-width: 100%;
  }

  .bigplats {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 95.5%;
  }

  .bigdesserts {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 95.5%;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150%;
  }

  .plat {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }

  .entree {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }

  .plat:hover .choisir {
    margin-right: -1rem;
    opacity: 1;
    width: 6rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .dessert {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 845px) and (max-width: 1163px) {
  .restaurant_blockrestau {
    display: flex;
    width: 27%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
  }
}
@media (min-width: 0px) and (max-width: 467px) {
  .restaurant_blockrestaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .plat:hover .choisir {
    margin-right: -1rem;
    opacity: 1;
    width: 6rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .postquest {
    text-align: center;
  }

  .restaurantimage1 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage2 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage3 {
    width: 100%;
    height: 200px;
  }

  .restaurantimage4 {
    width: 100%;
    height: 200px;
  }

  .restaurant_blockrestau {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 7px;
    box-sizing: border-box;
    margin: 1px 25px 23px 15px;
    margin-left: 15px;
    margin-left: 15px;
    box-shadow: 0 5px 16px #0000002e;
  }

  .bigentree {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 95.5%;
    padding: 0 1rem;
    overflow: hidden;
    max-width: 100%;
  }

  .bigplats {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 95.5%;
    padding: 0 1rem;
    overflow: hidden;
    max-width: 100%;
  }

  .bigdesserts {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 95.5%;
    padding: 0 1rem;
    overflow: hidden;
    max-width: 100%;
  }

  .plat > div > h3 {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  .plat > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #2F2C2C;
    width: 240px;
    font-size: 11px;
  }

  .bigplats h4 {
    font-weight: 900;
    font-size: 14px;
    font-family: Roboto, Serif;
  }

  .entree > div > h3 {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  .entree > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #2F2C2C;
    width: 240px;
    font-size: 11px;
  }

  .bigentree h4 {
    font-weight: 900;
    font-size: 14px;
    font-family: Roboto, Serif;
  }

  .dessert > div > h3 {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  .dessert > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #2F2C2C;
    width: 240px;
    font-size: 11px;
  }

  .bigdessert h4 {
    font-weight: 900;
    font-size: 14px;
    font-family: Roboto, Serif;
  }
}

/*# sourceMappingURL=francaise.css.map */
