.btn{
    background:transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 18px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out 0s;
}
.rounded{
    border-radius:50px;    
}
.purple{
    background: linear-gradient(0deg,#a86adb,#F081DD);
    color:#fff;    
}
.purple:hover{
    transition-duration: 0.2s;
    background: linear-gradient(0deg,#fa7bd6d7,#fca1e4e6);
}