@media (min-width: 468px) and (max-width: 1163px) {
    .restaurant_blockrestaurants {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .restaurantimage1{
        width: 100%;
        height: 200px;
      }
      .restaurantimage2{
        width: 100%;
        height: 200px;
      }
      .restaurantimage3{
        width: 100%;
        height: 200px;
      }
      .restaurantimage4{
        width: 100%;
        height: 200px;
      }
      .restaurant_blockrestau {
        display: flex;
        width: 38%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 20px;
        padding: 7px;
        box-sizing: border-box;
        margin: 1px 25px 23px 15px;
            margin-left: 15px;
        margin-left: 15px;
        box-shadow: 0 5px 16px #0000002e;
    }
    .bigentree{
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      width: 95.5%;
      padding: 0 1rem;
      overflow: hidden;
      max-width: 100%
    }
    .bigplats{
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      width: 95.5%;
    }
    .bigdesserts{
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      width: 95.5%;
    }
    .ellipsis{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150%;
    }
    .plat {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      border-radius: 10px;
      cursor: pointer;
      transition-duration: 0.5s;
      margin: 1rem 0;
      max-width: 100%;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  }
  .entree {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 1rem 0;
    max-width: 100%;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
.dessert {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  margin: 1rem 0;
  max-width: 100%;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
}
@media (min-width: 845px) and (max-width: 1163px) {
    .restaurant_blockrestau {
      display: flex;
      width: 27%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 20px;
      padding: 7px;
      box-sizing: border-box;
      margin: 1px 25px 23px 15px;
          margin-left: 15px;
      margin-left: 15px;
      box-shadow: 0 5px 16px #0000002e;
  }
}
@media (min-width: 0px) and (max-width: 467px) {
        .restaurant_blockrestaurants {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .postquest{
          text-align: center;
        }
        .restaurantimage1{
            width: 100%;
            height: 200px;
          }
          .restaurantimage2{
            width: 100%;
            height: 200px;
          }
          .restaurantimage3{
            width: 100%;
            height: 200px;
          }
          .restaurantimage4{
            width: 100%;
            height: 200px;
          }
          .restaurant_blockrestau {
            display: flex;
            width: 70%;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 20px;
            padding: 7px;
            box-sizing: border-box;
            margin: 1px 25px 23px 15px;
                margin-left: 15px;
            margin-left: 15px;
            box-shadow: 0 5px 16px #0000002e;
        }
        .bigentree{
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          width: 95.5%;
          padding: 0 1rem;
          overflow: hidden;
          max-width: 100%
        }
        .bigplats{
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          width: 95.5%;
          padding: 0 1rem;
          overflow: hidden;
          max-width: 100%;
        }
        .bigdesserts{
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          width: 95.5%;
          padding: 0 1rem;
          overflow: hidden;
          max-width: 100%;
        }
        .plat > div > h3 {
          margin: 0 !important;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: Roboto, sans-serif;
          font-size: 14px;
      }
      .plat > div > p {
        margin: 0 !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        padding-top: 5px;
        color: #2F2C2C;
        width: 240px;
        font-size: 11px;
    }
      .bigplats h4 {
        font-weight: 900;
        font-size: 14px;
        font-family: Roboto, Serif;
    }
    .entree > div > h3 {
      margin: 0 !important;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: Roboto, sans-serif;
      font-size: 14px;
  }
  .entree > div > p {
    margin: 0 !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding-top: 5px;
    color: #2F2C2C;
    width: 240px;
    font-size: 11px;
}
  .bigentree h4 {
    font-weight: 900;
    font-size: 14px;
    font-family: Roboto, Serif;
}
.dessert > div > h3 {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.dessert > div > p {
margin: 0 !important;
max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
text-decoration: none;
font-family: Roboto, sans-serif;
padding-top: 5px;
color: #2F2C2C;
width: 240px;
font-size: 11px;
}
.bigdessert h4 {
font-weight: 900;
font-size: 14px;
font-family: Roboto, Serif;
}
}